In [4]:
import pandas as pd

df = pd.read_csv('/home/malak/landing/order_items/order_items.csv', header=0)

In [13]:

null_values = df.isnull()

null_counts = null_values.sum()

any_null = null_values.any()

print("Null counts per column:")
print(null_counts)
print("\nAny null values per column:")
print(any_null)

Null counts per column:
order_id        0
item_id         0
product_id      0
quantity        0
list_price      0
discount        0
extract_time    0
source_name     0
dtype: int64

Any null values per column:
order_id        False
item_id         False
product_id      False
quantity        False
list_price      False
discount        False
extract_time    False
source_name     False
dtype: bool

In [22]:
df['extract_time'] = pd.to_datetime(df['extract_time'])

/tmp/ipykernel_4013/2974618786.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['extract_time'] = pd.to_datetime(df['extract_time'])

In [23]:
# Convert the 'item_id' column to integer type handling errors
df['item_id'] = pd.to_numeric(df['item_id'], errors='coerce').astype('Int64')

/tmp/ipykernel_4013/19610585.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['item_id'] = pd.to_numeric(df['item_id'], errors='coerce').astype('Int64')

In [ ]:
duplicates_exist = df.duplicated().any()
if not duplicates_exist:
    print("No duplicate rows exist in the cleaned DataFrame.")
else:
    print("Duplicate rows still exist in the cleaned DataFrame.")

In [21]:
duplicate_rows = df.duplicated()
print(df[duplicate_rows])
df = df.drop_duplicates(subset=['order_id'])

Empty DataFrame
Columns: [order_id, item_id, product_id, quantity, list_price, discount, extract_time, source_name]
Index: []

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1615 entries, 0 to 4753
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      1615 non-null   int64
 1   item_id       1615 non-null   Int64
 2   product_id    1615 non-null   int64
 3   quantity      1615 non-null   int64
 4   list_price    1615 non-null   float64
 5   discount      1615 non-null   float64
 6   extract_time  1615 non-null   datetime64[ns]
 7   source_name   1615 non-null   object
dtypes: Int64(1), datetime64[ns](1), float64(2), int64(3), object(1)
memory usage: 115.1+ KB

In [25]:
df = df[(df['list_price'] >= 200) & (df['list_price'] <= 10000)]

In [26]:
products_df = pd.read_csv('/home/malak/staging_1/products/products.csv')

In [27]:
uni_product_ids = set(products_df['product_id'])

In [28]:
df_filtered = df[df['product_id'].isin(uni_product_ids)]

In [31]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1579 entries, 0 to 4753
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      1579 non-null   int64
 1   item_id       1579 non-null   Int64
 2   product_id    1579 non-null   int64
 3   quantity      1579 non-null   int64
 4   list_price    1579 non-null   float64
 5   discount      1579 non-null   float64
 6   extract_time  1579 non-null   datetime64[ns]
 7   source_name   1579 non-null   object
dtypes: Int64(1), datetime64[ns](1), float64(2), int64(3), object(1)
memory usage: 112.6+ KB

In [32]:
df_filtered.to_csv('/home/malak/staging_1/order_items/order_items.csv', index=False)