In [2]:
# Let's import sqlalchemy 
import sqlalchemy as db
# create connection with the database
con = db.create_engine('postgresql://postgres:root@localhost/bikestore')
# Find out the tables in this DB
con.table_names()

/tmp/ipykernel_10482/2766826098.py:6: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  con.table_names()

['orders', 'order_items']

In [7]:
import sqlalchemy as db
# create connection with the database
con = db.create_engine('postgresql://postgres:root@localhost/bikestore')
# Find out the tables in this DB
import pandas as pd
# Create a SQL query to load the entire diabetes table
query = """
SELECT *
FROM orders
"""
# Load the table 
orders = pd.read_sql(query, con)
# View the head
#print(type(diabetes))
orders.head()

,order_id,customer_id,order_status,order_date,required_date,shipped_date,store_id,staff_id
0,1,259,4,2016-01-01,2016-01-03,2016-01-03,1,2
1,2,1212,4,2016-01-01,2016-01-04,2016-01-03,2,6
2,3,523,4,2016-01-02,2016-01-05,2016-01-03,2,7
3,4,175,4,2016-01-03,2016-01-04,2016-01-05,1,3
4,5,1324,4,2016-01-03,2016-01-06,2016-01-06,2,6

In [6]:
import pandas as pd
# Create a SQL query to load the entire diabetes table
query = """
SELECT *
FROM order_items
"""
# Load the table 
order_items = pd.read_sql(query, con)
# View the head
#print(type(diabetes))
order_items.head()

   order_id item_id  product_id  quantity  list_price  discount
0         1       1          20         1      599.99      0.20
1         1       2           8         2     1799.99      0.07
2         1       3          10         2     1549.00      0.05
3         1       4          16         2      599.99      0.05
4         1       5           4         1     2899.99      0.20

Data from table 'orders' exported to '/home/malak/distnation/orders.csv' successfully.

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime

def export_table_to_csv(connection_name, password, database_name, table_name, output_path):
    # Create connection string
    connection_string = f'postgresql://postgres:{password}@localhost/{database_name}'
    
    # Create database connection
    engine = create_engine(connection_string)
    
    try:
        # Query database and load table into DataFrame
        query = f"SELECT * FROM {table_name}"
        df = pd.read_sql(query, engine)
        
        # Add 'extract_time' column with current time
        df['extract_time'] = datetime.now()
        
        # Add 'source_name' column with the source table and database names
        df['source_name'] = f"{database_name}.{table_name}"
        
        # Export DataFrame to CSV file
        df.to_csv(output_path, index=False)
        
        print(f"Data from table '{table_name}' in database '{database_name}' exported to '{output_path}' successfully.")
    
    except Exception as e:
        print(f"An error occurred: {str(e)}")

# Example usage:
connection_name = 'postgres'
password = 'root'
database_name = 'bikestore'
table_name = 'orders'

output_path = '/home/malak/landing/orders/orders.csv'

export_table_to_csv(connection_name, password, database_name, table_name, output_path)

Data from table 'orders' in database 'bikestore' exported to '/home/malak/landing/orders/orders.csv' successfully.

In [2]:
export_table_to_csv('postgres', 'root', 'bikestore', 'order_items','/home/malak/landing/order_items/order_items.csv')

Data from table 'order_items' in database 'bikestore' exported to '/home/malak/landing/order_items/order_items.csv' successfully.