In [4]:
from data_cleaning import clean_csv

# Example usage:
input_file_path = '/home/malak/landing/exchange/exchange.csv'  
output_file_path = '/home/malak/staging_1/exchange/exchange.csv' 
clean_csv(input_file_path, output_file_path)

Data has been cleaned successfully. No nulls or duplicates found.

In [6]:

import pandas as pd
df = pd.read_csv('/home/malak/staging_1/exchange/exchange.csv' , header=0)

In [7]:
df

,USD_to_EGP,Timestamp,extract_time,source_name
0,47.9,1714262401,2024-04-30 23:55:08.118285,/home/malak/source/exchange.csv