In [2]:
import pandas as pd
stuff = pd.read_csv('/home/malak/landing/staff/staff.csv', header=0)
stuff

,staff_id,first_name,last_name,email,phone,active,store_id,manager_id,extract_time,source_name
0,1,Fabiola,Jackson,fabiola.jackson@bikes.shop,NaN,1,NaN,NaN,2024-04-30 23:48:24.778703,/home/malak/bikestore_dim/staff/staffs.csv
1,2,Mireya,NaN,mireya.copeland@bikes.shop,(831) 555-5555,1,1.0,1.0,2024-04-30 23:48:24.778703,/home/malak/bikestore_dim/staff/staffs.csv
2,3,Genna,Serrano,genna.serrano@bikes.shop,(831) 555-5556,1,1.0,2.0,2024-04-30 23:48:24.778703,/home/malak/bikestore_dim/staff/staffs.csv
3,4,Virgie,Wiggins,virgie.wiggins@bikes.shop,(831) 555-5557,1,1.0,2.0,2024-04-30 23:48:24.778703,/home/malak/bikestore_dim/staff/staffs.csv
4,5,Jannette,David,jannette.david@bikes.shop,(516) 379-4444,1,2.0,1.0,2024-04-30 23:48:24.778703,/home/malak/bikestore_dim/staff/staffs.csv
5,6,Marcelene,Boyer,NaN,(516) 379-4445,1,2.0,5.0,2024-04-30 23:48:24.778703,/home/malak/bikestore_dim/staff/staffs.csv
6,7,Venita,Daniel,venita.daniel@bikes.shop,NaN,1,2.0,5.0,2024-04-30 23:48:24.778703,/home/malak/bikestore_dim/staff/staffs.csv
7,8,Kali,Vargas,kali.vargas@bikes.shop,(972) 530-5555,1,3.0,1.0,2024-04-30 23:48:24.778703,/home/malak/bikestore_dim/staff/staffs.csv
8,9,Layla,Terrell,layla.terrell@bikes.shop,(972) 530-5556,1,3.0,7.0,2024-04-30 23:48:24.778703,/home/malak/bikestore_dim/staff/staffs.csv
9,10,Bernardine,Houston,bernardine.houston@bikes.shop,(972) 530-5557,1,3.0,7.0,2024-04-30 23:48:24.778703,/home/malak/bikestore_dim/staff/staffs.csv

In [7]:
import pandas as pd
null_values = staff_cleaned.isnull()
null_counts = null_values.sum()

print("Null counts per column:")
print(null_counts)

Null counts per column:
staff_id        0
first_name      0
active          0
extract_time    0
source_name     0
dtype: int64

Any null values per column:
staff_id        False
first_name      False
active          False
extract_time    False
source_name     False
dtype: bool

In [5]:
staff_cleaned = stuff.dropna(axis=1)

In [10]:
import pandas as pd

duplicate_rows = staff_cleaned.duplicated()

print("Duplicate rows:")
print(staff_cleaned[duplicate_rows])

Duplicate rows:
Empty DataFrame
Columns: [staff_id, first_name, active, extract_time, source_name]
Index: []

In [11]:

stuff = staff_cleaned.drop_duplicates()

print("\nDataFrame after removing duplicates:")
print(stuff.head())

DataFrame after removing duplicates:
   staff_id first_name  active                extract_time  \
0         1    Fabiola       1  2024-04-30 23:48:24.778703
1         2     Mireya       1  2024-04-30 23:48:24.778703
2         3      Genna       1  2024-04-30 23:48:24.778703
3         4     Virgie       1  2024-04-30 23:48:24.778703
4         5   Jannette       1  2024-04-30 23:48:24.778703

                                  source_name
0  /home/malak/bikestore_dim/staff/staffs.csv
1  /home/malak/bikestore_dim/staff/staffs.csv
2  /home/malak/bikestore_dim/staff/staffs.csv
3  /home/malak/bikestore_dim/staff/staffs.csv
4  /home/malak/bikestore_dim/staff/staffs.csv

In [12]:

duplicates_exist = stuff.duplicated().any()

if duplicates_exist:
    print("DataFrame 'stuff' contains duplicate rows.")
else:
    print("DataFrame 'stuff' does not contain duplicate rows.")

DataFrame 'stuff' does not contain duplicate rows.

In [13]:
stuff.to_csv('/home/malak/staging_1/staff/staff.csv', index=False)

In [ ]:
how