In [8]:
import pandas as pd

c = pd.read_csv('/home/malak/staging_1/customers/customers.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customer_id   178 non-null    int64
 1   first_name    178 non-null    object
 2   last_name     178 non-null    object
 3   phone         178 non-null    object
 4   email         178 non-null    object
 5   street        178 non-null    object
 6   city          178 non-null    object
 7   state         178 non-null    object
 8   zip_code      178 non-null    int64
 9   extract_time  178 non-null    object
 10  source_name   178 non-null    object
dtypes: int64(2), object(9)
memory usage: 15.4+ KB

In [6]:
stores = pd.read_csv('/home/malak/staging_1/stores/stores.csv')

In [7]:
stores

,store_id,store_name,phone,email,street,city,state,zip_code,extract_time,source_name
0,1,Santa Cruz Bikes,(831) 476-4321,(831) 476-4321,3700 Portola Drive,Santa Cruz,CA,NaN,2024-04-30 23:48:31.772957,/home/malak/bikestore_dim/stores/stores.csv
1,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432.0,2024-04-30 23:48:31.772957,/home/malak/bikestore_dim/stores/stores.csv
2,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088.0,2024-04-30 23:48:31.772957,/home/malak/bikestore_dim/stores/stores.csv

In [16]:


# Get the list of cities with stores
cities_with_stores = stores['city'].unique()

# Add a new column to the c DataFrame indicating whether the customer lives in a city with a store
c['local'] = c['city'].isin(cities_with_stores)

# Convert the boolean values to the desired format (True if the customer's city matches any city in stores, False otherwise)
c['local'] = c['local'] & (c['local'] == True)

In [20]:
ccities_with_stores = c['local'].unique()

In [19]:
ccities_with_stores

array([False])

In [22]:
cu = c['city'].unique()

In [23]:
cu

array(['Sacramento', 'Buffalo', 'Hempstead', 'New York', 'Long Beach',
       'Oakland', 'Lancaster', 'Houston', 'San Diego', 'Troy', 'San Jose',
       'Anaheim', 'Fresno', 'Corpus Christi', 'Oxnard', 'Albany',
       'Oceanside', 'Brentwood', 'El Paso', 'Yonkers', 'Rochester',
       'Bakersfield', 'Fort Worth', 'New City', 'Los Angeles',
       'San Antonio'], dtype=object)

In [24]:
cities_with_stores

array(['Santa Cruz', 'Baldwin', 'Rowlett'], dtype=object)

In [28]:
c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   customer_id   178 non-null    int64
 1   first_name    178 non-null    object
 2   last_name     178 non-null    object
 3   phone         178 non-null    object
 4   email         178 non-null    object
 5   street        178 non-null    object
 6   city          178 non-null    object
 7   state         178 non-null    object
 8   zip_code      178 non-null    int64
 9   extract_time  178 non-null    datetime64[ns]
 10  source_name   178 non-null    object
 11  local         178 non-null    bool
dtypes: bool(1), datetime64[ns](1), int64(2), object(8)
memory usage: 15.6+ KB

In [27]:
c['extract_time'] = pd.to_datetime(c['extract_time'])

In [ ]:
c.to_csv('/home/malak/staging_2/customers/customers.csv')